<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/reset_stylesheet.css">
  <link rel="stylesheet" href="/static/styles/style.css">
  <title>To Do list</title>
  <script src="https://kit.fontawesome.com/55d708d476.js" crossorigin="anonymous"></script>
</head>

<body>

  <div id="content">
    <!-- <div id="item-list">
      <ul id="list">
        <li class="item" data-action="item">
          <div class="item-head flex">
            <p class="date">1</p>
            <p class="name">2</p>
            <i class="fa fa-trash-o delete"></i>
          </div>
          <p class="item-body display-none">3</p>
        </li>
      </ul>
      <form id="add-item" class="add-item  display-none" method="post">
        <div class="flex">
          <input type="text" class="date" placeholder="Date">
          <input type="text" id="name" placeholder="Name">
        </div>
        <div class="flex">
          <textarea id="description"></textarea>
          <button type="submit" id="add-btn"><i class="fas fa-plus"></i></button>
        </div>
      </form>
      <button id="add-item-btn" data-action="arrowBtn"><i class="fas fa-chevron-down"
          data-action="arrowBtn"></i></button>
    </div> -->
  </div>

  <script src="/static/js/main.js"></script>
</body>

</html>